<div class="container">
    <h2 class="text-center">Our Services</h2>
    <p class="text-center">Focus more on your business. Let us handle your IT concerns.</p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2 services">
            <div>
                <picture>
                    <img src="../../../assets/images/icon/Icon-App-Dev.webp" alt="" width="70"  height="auto" class="img-fluid mt-4">
                </picture>
            </div>
            <a href="#">App Development</a>
            <p>Build your well-designed and optimized mobile apps. Either for internal or mass usage.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2  services">
            <div>
                <picture>
                    <img src="../../../assets/images/icon/Icon-Regular-Chart-Up.webp" alt="" width="70"  height="auto" class="img-fluid mt-4">
                </picture>
            </div>            <a href="#">ERP Development</a>
            <p>Get your customized ERP development because your business is unique.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2  services">
            <div>
                <picture>
                    <img src="../../../assets/images/icon/Icon-IT-Solutions.webp" alt="" width="70"  height="auto" class="img-fluid mt-4">
                </picture>
            </div>            <a href="#">IT Consulting</a>
            <p>Design and implement solutions in IT governance, security, and more. Actualize your IT concerns.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2  services">
            <div>
                <picture>
                    <img src="../../../assets/images/icon/Icon-Regular-Chart.webp" alt="" width="70"  height="auto" class="img-fluid mt-4">
                </picture>
            </div>            <a href="#">No-Code Development</a>
            <p>Need a business dashboard and intriguing interface? But have no tech skillset? We help you to achieve it with no-code development.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2  services">
            <div>
                <picture>
                    <img src="../../../assets/images/icon/Icon-Software-Architecture.webp" alt="" width="70"  height="auto" class="img-fluid mt-4">
                </picture>
            </div>            <a href="#">Software Architecture</a>
            <p>Get strong foundations for your winning products. From designing to evaluating.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-2 mb-2  services">
            <div>
                <picture>
                    <img src="../../../assets/images/icon/Icon-Web-Dev.webp" alt="" width="70"  height="auto" class="img-fluid mt-4">
                </picture>
            </div>            <a href="#">Website Development</a>
            <p>Create your customized website that suits your business and branding. Aesthetic matters.</p>
        </div>
    </div>
</div>