.container {
h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
p {
    margin-bottom: 40px;
}
}
.row {
    margin-top: 40px;
    .services:hover {
        background-color: #fff;    
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%); 
        border-radius: 10px;
        cursor: pointer;
    }

    .services {
        a {
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
            font-weight: 500;
            text-decoration: none;
            color: rgb(29, 29, 29);
        }

        p {
            font-weight: 300;
        }
    }
}

fa-icon {
    margin-top: 15px;
    display: inline-block;
    padding: 5px 10px;
    background: #eaeaea;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #c7c7c7;
}