.container {
    background-image: url('../../../assets//images/bg/Our-service.webp');
    background-size: cover;
    min-height: 860px;
    padding: 5em 3em 3em 3em;

h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--bs-primary);
}
p {
    color: #4a4a4a;
    margin-bottom: 40px;
    font-size: 20px;
}
}

.row {
    margin-top: 40px;
    .services:hover {
        background-color: #fff;    
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%); 
        border-radius: 10px;
        cursor: pointer;
        padding-left: 1.4em;
        padding-right:  1.4em;
    }

    .services {
        a {
            display: block;
            margin-top: 20px;
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: #113151
        }

        p {
            font-weight: 200;
            font-size: 16px;
            color: #4a4a4a;
            max-width: 339px;
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 4em !important;
    }
}

@media screen and (max-width: 768px) {
    .services {
        img {
            width: 50px;
        }
    }
}