<div class="container" style="padding: 1em 7em 1em 7em;">
    <h2 class="text-center">Our Service</h2>
    <p class="text-center">Focus more on your business. Let us handle your IT concerns.</p>
    <div class="row">
        <div class="col-4 mt-2 mb-2 services">
            <fa-icon [icon]="faPhone"></fa-icon>
            <a href="">App Development</a>
            <p>Build your well-designed and optimized mobile apps. Either for internal or mass usage.</p>
        </div>
        <div class="col-4 mt-2 mb-2  services">
            <fa-icon [icon]="faPhone"></fa-icon>
            <a href="">ERP Development</a>
            <p>Get your customized ERP development because your business is unique.</p>
        </div>
        <div class="col-4 mt-2 mb-2  services">
            <fa-icon [icon]="faPhone"></fa-icon>
            <a href="">IT Consulting</a>
            <p>Design and implement solutions in IT governance, security, and more. Actualize your IT concerns.</p>
        </div>
        <div class="col-4 mt-2 mb-2  services">
            <fa-icon [icon]="faPhone"></fa-icon>
            <a href="">No-Code Development</a>
            <p>Need a business dashboard and intriguing interface? But have no tech skillset? We help you to achieve it with no-code development.</p>
        </div>
        <div class="col-4 mt-2 mb-2  services">
            <fa-icon [icon]="faPhone"></fa-icon>
            <a href="">Software Architecture</a>
            <p>Get strong foundations for your winning products. From designing to evaluating.</p>
        </div>
        <div class="col-4 mt-2 mb-2  services">
            <fa-icon [icon]="faPhone"></fa-icon>
            <a href="">Website Development</a>
            <p>Create your customized website that suits your business and branding. Aesthetic matters.</p>
        </div>
    </div>
</div>