.container-fluid {
    background-image: url('../../../assets/images/bg/Leads.webp');
    background-size: cover;
    color: #fff;
    text-align: center;

    .container {
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
        padding: 1em 0;
        margin: 0;
        font-weight: 400;
    }
    button {
        width: 230px;
        height: 45px;
    }
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 3em !important;
    }
}
@media screen and (max-width: 425px) {
    .container {
        padding: 3em !important;
    }
}