h1 {
    line-height: 1.4em;
    font-size: 40px;
    font-weight: bold;

    span {
        font-weight: 400;
    }
}

.heros {
    padding: 0 3em 0 3em;
}

.nol-space {
    padding: 0;
    margin: 0;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    button {
        width: 230px;
        height: 45px;
    }
}

.trusted {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    div {
        max-width: 200px;
        padding: 0 15px;
        img {
            filter: grayscale(100%);
        }
    }
    
}

.wrap-hero {
    padding: 0;
    margin: 0;
}

.wrap-trust {
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2em 2em 3em 2em;
}

fa-icon {
    color: var(--bs-primary);
}

// @media screen and (max-width: 1024px) {
//     .container {
//         padding: 1em !important;
//     }
// }

@media screen and (max-width: 1024px) {
    .container {
        padding: 0em !important;
        margin: 0 3.3em !important;
    }

    .wrap-trust {
        flex-direction: column;
    }

    .container-fluid {
        display: block !important;
        padding: 1em !important;
    }

    .wrap-hero {
        padding: 0 !important;
    }

    .hero {
        padding: 0 !important;
        margin: 0 !important;
    }


    h1 {
        font-size: 26px;
    }

    .wrap-trust {
        margin: 2em !important;
    }

    .trusted {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        div {
            max-width: 40%;
            margin: 10px 0;
        }
    }
}