.container-fluid {
    background-image: url('../../../assets/images/bg/Clients-Testimonial.webp');
    background-size: cover;
    min-height: 650px;
    h2 {
        margin-bottom: 1em;
        font-size: 30px;
    }

    .img-profile {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .carousel-control-prev, .carousel-control-next {
        width: 6%;
        background-color: red;
    }

    .carousel-indicators {
        background-color: red;
        margin-bottom: 2rem;
    }

    .container {
        h2 {
            margin: 40px 0 30px 0;
        }

        p.desc {
            font-size: 20px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 1em !important;
    }

    .testimoni {
        justify-content: center;
    }

    .star {
        max-width: 350px !important;
    }

    .col-lg-9 {
        margin-bottom: 4em;
    }
}