<div class="container-fluid">
    <div class="container" style="padding: 4em 7em 5em 7em;">
    <h2 class="text-center">What our clients said about us</h2>
    <div class="row mt-4" style="padding-bottom: 3em;">
        <div class="col-9">
            <div class="card shadow-sm mt-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row" style="padding: 3em">
                            <div class="col-12">
                                <p class="desc">  Kulkul team had been hugely helpful in mentoring us in developer management. They also did code reviews to ensure optimal strategy and execution of our project. Looking forward to continuing our collaboration.</p>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="d-flex" style="padding-bottom: 4em;">
                                <div class="img-profile">
                                    <img src="../../../assets/images/testimonial/kulkul-client-ian.webp" class="rounded-circle img-fluid"  style="max-width: 4em" alt="...">
                                </div>
                                <div class="ms-4">
                                    <span><strong>Ian Mihajlovic</strong></span><br>
                                    <span>COO at Iilheads, UK</span>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row" style="padding: 3em">
                            <div class="col-12">
                                <p class="desc"> Kulkul team quickly helped me to solve an issue about database on AWS. The team explained the issue regarding security groups. They also showed me how to handle this in the future. Patient and professional service! Exactly what I needed.</p>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="d-flex" style="padding-bottom: 4em;">
                                <div class="img-profile">
                                    <img src="../../../assets/images/testimonial/kulkul-client-ken.webp" class="rounded-circle img-fluid"  style="max-width: 4em" alt="...">
                                </div>
                                <div class="ms-4">
                                    <span><strong>Ken Hunt</strong></span><br>
                                    <span>Director, Operations & Pipelline Expert at SAP Concur</span>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row" style="padding: 3em">
                            <div class="col-12">
                                <p class="desc">  Knowledgeable and dedicated team. Kulkul team is professionally committed to help us understanding more about techs we use. Definitely love to work with them again.</p>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="d-flex" style="padding-bottom: 4em;">
                                <div class="img-profile">
                                    <img src="../../../assets/images/testimonial/kulkul-client-dawson.jpeg" class="rounded-circle img-fluid"  style="max-width: 4em" alt="...">
                                </div>
                                <div class="ms-4">
                                    <span><strong>P. Dawson Jones</strong></span><br>
                                    <span>Founder & CTO at Rivetly Inc.</span>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row" style="padding: 3em">
                            <div class="col-12">
                                <p class="desc">  Particularly notable was the deep thought given to the solution even though it was a short project. Classic going beyond delivering "just what was asked for". We will definitely be using them in the future!</p>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="d-flex" style="padding-bottom: 4em;">
                                <div class="img-profile">
                                    <img src="../../../assets/images/testimonial/kulkul-client-neeseth.webp" class="rounded-circle img-fluid"  style="max-width: 4em" alt="...">
                                </div>
                                <div class="ms-4">
                                    <span><strong>Nisheeth Singh</strong></span><br>
                                    <span>Chief Analytics Officer, Spotter Inc., US</span>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
        <div class="col-3" style="display: flex; align-items: center;">
            <div>
                <picture>
                    <source srcset="../../../assets/images/testimonial/star.webp" type="image/png">
                    <img src="../../../assets/images/testimonial/star.webp" class="img-fluid" alt="Star">
                </picture>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Clients-Testimonial -->