
#navbarSupportedContent {
    // display: flex;
    justify-content: flex-end;
    column-gap: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

// @media screen and (max-width: 1024px) {
//     .navbar {
//         padding: 0.5em 0 !important;
//     }

//     .heros {
//         padding: 0 !important;
//     }
// }

// @media (min-width: 1024px) {
// .navbar-expand-lg .navbar-nav .nav-link {
//     padding-right: 1rem;
//     padding-left: 1rem;
// }
// .navbar-expand-lg .navbar-nav .dropdown-menu {
//     position: absolute;
//     box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
// }
// }

.navbar {
    padding: .5em 6em .5em 6em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    font-weight: bold;

    button {
        border-width: 3px;
        font-weight: bold;
    }
}

.bg-light {
    background-color: #ffffff !important;
}

.navbar-brand {
    min-width: 44px;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0;
}
.dropdown-item {
    padding: 1.1em 2em;
}

// @media (min-width: 768px) and (max-width: 108px) {
//     .collapse {
//         display: none !important;
//     }
//  }

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 0.5em 1em !important;
    }

    #navbarDropdown {
        margin: 10px !important;
    }

    #navbarSupportedContent {
            button {
                margin-bottom: 20px !important;
            }
            justify-content: flex-end;
            column-gap: 25px;
            background: #fff;
            position: absolute;
            width: 100%;
            top: 5.5em;
            padding: 20px 20px 10px 20px;
            left: 0;
            border-radius: 0 0 15px 15px;
    }
    .nav-link dropdown-toggle {
        color: red;
    }

    .dropdown-toggle::after {
        float: right;
        font-size: 20px;
        margin-right: 0.25em;
    }
}
@media screen and (max-width: 425px) {
    .navbar {
        padding: 0 !important;
    }
    #navbarDropdown {
        margin: 10px !important;
    }

    #navbarSupportedContent {
            button {
                margin-bottom: 20px !important;
            }
            justify-content: flex-end;
            column-gap: 25px;
            background: #fff;
            position: absolute;
            width: 100%;
            top: 3.5em;
            padding: 20px 20px 10px 20px;
            left: 0;
            border-radius: 0 0 15px 15px;
    }
    .nav-link dropdown-toggle {
        color: red;
    }

    .dropdown-toggle::after {
        float: right;
        font-size: 20px;
        margin-right: 0.25em;
    }

}