
#navbarSupportedContent {
    // display: flex;
    justify-content: flex-end;
    column-gap: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.navbar {
    padding: 1em 9em 1em 9em;
}

.navbar-brand {
    min-width: 44px;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0;
}
.dropdown-item {
    padding: 1em 1em;
}
@media screen and (max-width: 425px) {
    .navbar {
        padding: 0 !important;
    }
    #navbarDropdown {
        margin: 10px !important;
    }

    #navbarSupportedContent {
            button {
                margin-bottom: 20px !important;
            }
            justify-content: flex-end;
            column-gap: 25px;
            background: #fff;
            position: absolute;
            width: 100%;
            top: 3.5em;
            padding: 20px 20px 10px 20px;
            left: 0;
            border-radius: 0 0 15px 15px;
    }
    .nav-link dropdown-toggle {
        color: red;
    }

    .dropdown-toggle::after {
        float: right;
        font-size: 20px;
        margin-right: 0.25em;
    }

}