<div class="container-fluid">
    <div class="container" style="padding: 5em 7em 7em 7em;">
    <h2 class="text-center">Why Kulkul?</h2>
    <h3 class="text-center">Some stats for a data geek like you</h3>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" *ngIf="showCarousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
                <picture>
                    <source srcset="../../../assets/images/why/kulkul-facts-1.png" type="image/png">
                    <img src="../../../assets/images/why/kulkul-facts-1.png" class="img-fluid"  width="auto" height="auto" style="border-radius: 1.5rem;" alt="Facts 1">
                </picture>
          </div>
          <div class="carousel-item">
                <picture>
                    <source srcset="../../../assets/images/why/kulkul-facts-2.png" type="image/png">
                    <img src="../../../assets/images/why/kulkul-facts-2.png" class="img-fluid" width="auto" height="auto" style="border-radius: 1.5rem;" alt="Facts 1">
                </picture>
          </div>
          <div class="carousel-item">
                <picture>
                    <source srcset="../../../assets/images/why/kulkul-facts-3.png" type="image/png">
                    <img src="../../../assets/images/why/kulkul-facts-3.png" class="img-fluid"  width="auto" height="auto" style="border-radius: 1.5rem;" alt="Facts 1">
                </picture>
          </div>
        </div>
      </div>

    <div class="row mt-4" style="padding-bottom: 4em;" *ngIf="!showCarousel">
        <div class="col-lg-4 col-sm-12">
            <div>
                <picture>
                    <source srcset="../../../assets/images/why/kulkul-facts-1.png" type="image/png">
                    <img src="../../../assets/images/why/kulkul-facts-1.png" class="img-fluid"  width="auto" height="auto" style="border-radius: 1.5rem;" alt="Facts 1">
                </picture>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 ">
            <div>
                <picture>
                    <source srcset="../../../assets/images/why/kulkul-facts-2.png" type="image/png">
                    <img src="../../../assets/images/why/kulkul-facts-2.png" class="img-fluid" width="auto" height="auto" style="border-radius: 1.5rem;" alt="Facts 1">
                </picture>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div>
                <picture>
                    <source srcset="../../../assets/images/why/kulkul-facts-3.png" type="image/png">
                    <img src="../../../assets/images/why/kulkul-facts-3.png" class="img-fluid"  width="auto" height="auto" style="border-radius: 1.5rem;" alt="Facts 1">
                </picture>
            </div>
        </div>
    </div>
</div>
</div>