<div class="container-fluid">
    <div class="container" style="padding: 1em 7em 1em 7em;transform: translateY(80px);">
    <h2 class="text-center">Why Kulkul?</h2>
    <h3 class="text-center">Some stats for a data geek like you</h3>
    <div class="row mt-4">
        <div class="col-4">
            <div class="card">
                <p>123</p>
                <p>Satisfied clients</p>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card">
                <p>123</p>
                <p>Satisfied clients</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <p>123</p>
                <p>Satisfied clients</p>
            </div>
        </div>
    </div>
</div>
</div>