.container-fluid {
    background-image: url('../../../assets/images/bg/Why-Kulkul.webp');
    background-size: cover;
    color: #fff;

    .container {
        min-height: 600px;
        h2 {
            margin: 40px 0 30px 0;
        }

        h3 {
            margin-bottom: 40px;
            color: #FFFFFF;
            font-family: "Archivo", Sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
        }

        .card {
            color: rgb(41, 41, 41);
            p {
                padding: 15px;
            }
        }

        .carousel-indicators {
            position: absolute;
            transform: translateY(38px);
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 3em !important;
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 2em !important;
        min-height: 640px !important;

        .carousel-indicators {
            transform: translateY(50px) !important;
        }
    }
}