.container-fluid {
    background-image: url('../../../assets/images/bg/Why-Kulkul.webp');
    background-size: cover;
    color: #fff;

    .container {
        min-height: 600px;
        h2 {
            margin: 40px 0 30px 0;
        }

        h3 {
            margin-bottom: 40px;
            font-weight: 300;
        }

        .card {
            color: rgb(41, 41, 41);
            p {
                padding: 15px;
            }
        }
    }
}