<div class="container" style="padding: 5em 3em 4em 3em;">

    <div class="row mb-4 mt-4">
        <div class="col-lg-3 col-sm-12">
            <h3>Services</h3>
            <hr>
            <a href="#">IT Consulting</a>
            <a href="#">App Development</a>
            <a href="#">Website Development</a>
            <a href="#">ERP Development</a>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h3>Products</h3>
            <hr>
            <a href="#">Kulcamp eLearning App</a>
            <a href="#">Ngecilin URL Shortener</a>
            <a href="#">Ngescan Scan QR Codes</a>
            <a href="#">Trading Physics API</a>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h3>Company</h3>
            <hr>
            <a href="#">About Us</a>
            <a href="#">Careers</a>
            <a href="#">Contact Us</a>
            <a href="#">Term & Condition</a>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h3>Kulkul Technology HQ</h3>
            <hr>
            <p class="info">The City Tower, level 12, Jl. M.H. Thamrin No. 81, RT.1/RW.6, Dukuh Atas, Jakarta Pusat, Indonesia</p>
            <div class="subscribe">
                <input type="email" placeholder="Insert your email" class="form-control rounded-pill">
                <button type="button" class="btn btn-primary rounded-pill">Subscribe</button>
            </div>
            <p class="warning">No-spam guaranteed. Just valuable contents about tech. Once a month.</p>
            <p class="info">For further inquiry, drop us a message <a href="mailto:support@kulkul.tech" style="display: inline; color: var(--bs-primary);"><strong>support@kulkul.tech</strong></a></p>
        </div>
    </div>

    <div class="row" style="padding-top: 3em">
        <div class="col-lg-4 col-sm-12 d-flex" style="align-items: top;">
            <picture>
                <a href="#" style="display: inline;"><img src="../../../assets/images/Logo.png" alt="" width="auto" height="auto" class="img-fluid" style="width: 70%;"></a>
            </picture>
        </div>
        <div class="col-lg-4 col-sm-12">
            <p class="info-footer">Acknowledged by</p>
            <div class="brand">
            <div>
            <picture>
                <a href="#" style="display: inline;"><img src="../../../assets/images/footer/footer-1.png" alt="" width="100" height="34" class="img-fluid"></a>
            </picture>    
            </div>
            <div>
            <picture>
                <a href="#" style="display: inline;"><img src="../../../assets/images/footer/footer-2.png" alt="" width="100" height="34" class="img-fluid"></a>
            </picture>    
            </div>
            <div>
            <picture>
                <a href="#" style="display: inline;"><img src="../../../assets/images/footer/footer-3.png" alt="" width="100" height="34" class="img-fluid" style="max-width: 50%;"></a>
            </picture>    
            </div>
            <div>
            <picture>
                <a href="#" style="display: inline;"><img src="../../../assets/images/footer/footer-4.png" alt="" width="100" height="34" class="img-fluid" style="max-width: 50%;"></a>
            </picture>    
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <p class="info-footer">Follow us</p>
            <div class="icon d-flex">
            <div>
                <a href="#" style="display: inline;"><fa-icon [icon]="faYoutube"></fa-icon></a>
            </div>
            <div>
                <a href="#" style="display: inline;"><fa-icon [icon]="faTwitter"></fa-icon></a>
            </div>
            <div>
                <a href="#" style="display: inline;"><fa-icon [icon]="faInstagram"></fa-icon></a>
            </div>
            <div>
                <a href="#" style="display: inline;"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            </div>
            <div>
                <a href="#" style="display: inline;"><fa-icon [icon]="faGithub"></fa-icon></a>
            </div>
            </div>
        </div>
    </div>
</div>