
fa-icon {
    color: gray;
}

.icon {
    justify-content: space-around;
    font-size: 24px;
    min-height: 70px;
    align-items: center;
}

.footer-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em
}

h3 {
    color: #5E5B5B;
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.brand {
    display: flex;
    gap: 15px;
    row-gap: 15px;
    text-align: center;
    column-gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    img {
        max-width: 100%;
    }

    .brand-1 {
        min-width: 70px;
        width: 70px;
    }

    .brand-2 {
        min-width: 90px;
        width: 90px;
    }
}

.logo {
    img {
        min-width: 200px;
        width: 200px;
    }
}

button {
    padding-left: 30px;
    padding-right: 30px;
}

a {
    display: block;
    color: #5E5B5B;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;

    fa-icon:hover {
        color: var(--bs-primary);
    }
}

a:hover {
    color: var(--bs-primary);
}

.subscribe {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 20px;
    button {
        min-width: 80px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.info-footer {
    color: #5e5b5b;
    font-size: 12px;
}


.info {
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 20px;

    a {
        font-size: 18px;
        font-weight: bold;
        display: inline;
        color: var(--bs-primary);
    }

}

.warning {
    font-size: 10px;
    color: #626262;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 2em !important;

        .serv {
            margin-top: 2em;
        }

        .footer-1 {
            padding-top: 0 !important;

            img:first-child {
                max-width: 200px !important;
            }
        }

    
        .brand {
            display: flex;
            gap: 15px;
            row-gap: 15px;
            text-align: center;
            column-gap: 15px;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            img {
                min-width: 100px;
            }
        }

        .icon {
            justify-content: flex-start;
            gap: 25px;
            padding-bottom: 2em;
        }

        .info-footer {
            margin-top: 2em;
            margin-bottom: 1em;
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        padding: 3em !important;

        .row:first-child {
            margin-top: 0 !important;
        }
        .serv {
            margin-top: 3em !important;
        }

        .serv:first-child {
            margin-top: 0 !important;
        }
        .footer-1 {
            padding-top: 0 !important;

            img:first-child{
                max-width: 200px;
            }
        }

        .icon {
            justify-content: flex-start;
            gap: 25px;
        }

        .brand {
            justify-content: space-between;
            margin: 0 40px;
            img {
                min-width: 100px;
            }
        }

        .info-footer {
            margin-top: 3em
        }
    }
}